.NavigationBar {
	width: 100%;
	background-color: #000;
	opacity: 0.75;
	color: #fff;
	/*Fixing navbar to the top*/
	position: fixed;
	top: 0;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

.SignOut {
	cursor: pointer;
}