.container {
	width: 100%;
	display: flex;
	margin: 200px auto;
	align-items: center;
	flex-direction: column;
}

form {
	width: 50vw;
	box-sizing: border-box;
}

input {
	width: 100%;
	padding: 10px;
	display: block;
	border-radius: 8px;
}

button {
	margin-top: 5px;
}

label {
	display:block;
	margin-top: 10px;
	margin-bottom: 5px;
}

.Form_Link {
	color: #00f;
	text-decoration: none;
}